.Login{
    height: 100vh;
    width: 100%;
    background-image: url("../img/classroom.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Main{
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    /* width: 450px;
    height: 450px; */
    background-image: linear-gradient(to bottom right, #1d1b3184, #11101d7c);
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    box-shadow: rgb(0, 0, 0) 15px 27px 65px 5px ;
    border-radius: 1rem;
    width: 450px;
    height: 450px;
    transition: all 0.5s ease;

    box-sizing: border-box;
}
.Main form{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding: 0 10px;
    justify-content: space-evenly;
    transition: all 0.3s;
}
.Main form > input {
    margin-bottom: 10px;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: #1d1b3192;
    -webkit-text-fill-color: white !important;
    color: white;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: #1d1b3192 !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
.Main form > input:hover{
    transition: all 0.4s ease;
    background-color: #1f1d3ae9;
}
.Main form > button {
    border: none;
    margin-bottom: 10px;
    border-radius: 2rem;
    padding: 10px 15px;
    background-color: rgba(40, 37, 80, 0.71);
    color: white;
}
.Main form > button:hover{
    transition: all 0.4s ease;
    background-color: #1f1d3ae9;
}
.Role{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.Role > button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid grey;
    padding: 15px;
    outline: none;
    font-size: x-large;
}
.Role > button:hover{
    color: white;
    border-color: white;
    transition: all 0.3s;
}
.Selected{
    color: white;
    border-bottom: 1px solid white !important;
}
/* p{
    margin: 0;
    margin-bottom: 5px;
    font-size: smaller;
}
h1{
    font-weight: 700;
    text-align: center;
    font-size: 50px;
    margin-bottom: 10px;
    transition: all 0.2s;
} */
.admin{
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: rgb(123, 123, 250);
}
.hidden{
    transition: all 0.3s;
    display: none;
}
.errorDiv{
    width: 100%;
    height: 40px;
    background-color: rgba(255, 54, 54, 0.45);
    border-radius: 0.25rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.errorDiv p{
    color: white;
    margin: 0;
    font-size: medium;
}
.successDiv{
    width: 100%;
    height: 40px;
    background-color: rgba(88, 255, 54, 0.877);
    border-radius: 0.25rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.successDiv p{
    color: white;
    margin: 0;
    font-size: medium;
}
.rememberMe{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 10px;
}
.rememberMe p{
    margin: 0; 
    margin-left: 5px !important;
    color: white;
    font-size: smaller;
}
.rememberMe input:hover{
    cursor: pointer;
}

