.Navbar {
    position: fixed;
    z-index: 99;
    background-color: #11101D;
    width: calc(100% - 78px);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 78px;
    transition: all 0.5s ease;
}
.Navbar.SidebarOpen {
    left: 250px;
    width: calc(100% - 250px);
}
.leftItems{
    display: flex;
    align-items: center;
    min-width: max-content;
}
.Searchbar{
    margin-left: 30px;
}
.Searchbar input{
    padding: 10px 0;
    border: none;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    background-color: transparent;
    color: white;
    outline: none;
}
.Searchbar button{
    border: none;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 10px;
    background-color: #1D1B31;
}
.campus{
    margin-left: 10px;
    background-color: #1D1B31;
    padding: 0 10px;
    border-radius: 0.35rem;
    display: flex;
    align-items: center;
    color: white;
    max-width: 200px;
}
.campus input{
    outline: none;
}
.dropDown{
    background-color: #1D1B31;
}
.react-dropdown-select-dropdown{
    background-color:#1D1B31 !important;
    border: none !important;
    overflow-x: none !important;
}
.react-dropdown-select-item{
    border: none !important;
    white-space: nowrap;
}
.react-dropdown-select{
    box-shadow: none !important;
}
.logout{
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 0.25rem;
    background-color: #1D1B31;
    margin-right: 15px;
    transition: all 0.4s ease;
}
.logout:hover{
    background-color: #2f2c51;
    cursor: pointer;
}
.logout p{
    margin: 0;
    margin-right: 8px;
    user-select: none;
    color: white;
    font-size: 15px;
}