.playlistItemDiv{
    display: flex;
    align-items: center;
    margin: 5px 5px;
}
.playlistItemDiv:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}
.previewImgDiv {
    min-width: 100px;
    min-height: 56px;
    max-width: 100px;
    max-height: 56px;
    margin: 0px 5px;
    position: relative;
    overflow: hidden;
}

.previewImgDiv img {
    width: 100px;
    height: 56px;
    object-fit: cover; 
    border-radius: 0.5rem;
}

.previewImgDiv p {
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin: 0;
    border-radius: 0.3rem;
    padding: 1px 3px;
    color: white;
    font-size: 11px;
    background-color: rgba(0,0,0,0.8);
}

.playlistItemDiv .info {
    padding-right: 10px;
    padding-left: 5px;
    padding-top: 5px;
}
.playlistItemDiv .info h6{
    font-size: 14px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 5px;
}
.playlistItemDiv .info p{
    font-size: 12px;
    max-width: 0;
}
.highlight{
    background-color: rgba(29, 27, 49, 0.15);
}
